
<header [style.background-image]="cleanStyleImage1" class="parallax1" >
	<div class="hero">
		<h1 style="background-color: rgba(3,169,245,.6);">
			
			Join WeJaFoo
		
		</h1>
		<h2 style="background-color: #53504F99" class="cms-fg-off-light">
			
			Connect with businesses. Help the people you serve.
		
		</h2>
		<div style="display: flex; justify-content: center" class="center-padding">
			<a class="nav-link btn btn-lg btn-primary" routerLink="/form/{{env.form.apRegister}}" routerLinkActive="disabled">
				
				Sign Up
			
			</a>
		</div>
	</div>
</header>
<div class="container-spaced">
	<div class="row">
		<div class="icon-block">
			<div class="icon"><i class="material-icons md-72"> group </i></div>
			<h2 class="icon-header">
			
				Network
			
			</h2>
			<p style="text-align: center">
				
				Aptly positions your organization as a favored partner with the most progressive and knowledgeable businesses.
		
		</div>
		<hr style="width: 100%" />
		<div class="icon-block">
			<div class="icon"><i class="material-icons md-72"> trending_up </i></div>
			<h2 class="icon-header">
			
				Innovation
			
			</h2>
			<p style="text-align: center">
			
				WeJaFu makes you invaluable to both your clients and businesses that need them as employees and consumers.
		
		</div>
		<hr style="width: 100%" />
		<div class="icon-block">
			<div class="icon"><i class="material-icons md-72"> network_check </i></div>
			<h2 class="icon-header"> Efficiency </h2>
			<p style="text-align: center">
				
				WeJaFoo puts enterprise-level technology in your hands enabling integrations with the largest of corporate partners.
	
		</div>
	</div>
</div>
<!--STEPS-->
<div style="padding: 40px 7% 60px;" class="cms-bg-primary">
	<h2 class="bigheadtext"> 3 Steps to WeJaFoo Greatness </h2>
	<p class="bigtext">
		<i class="material-icons"> looks_one </i>
		<strong> Register: </strong> Show leadership by integrating hard-to-reach populations with business.
	<p class="bigtext">
		<i class="material-icons"> looks_two </i>
		<strong>Promote:</strong> Broaden your impact by sharing successes with other corporate partners.
	<p class="bigtext">
		<i class="material-icons"> looks_3 </i>
		<strong>Engage:</strong>  Earn trusted relationships by responding directly to business needs.
</div>
<div class="container-spaced">
	<div class="section">
		<div class="col s12 m4">
			<h2 class="hone"> Q&amp;A About WeJaFoo </h2>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading"><h4 style="text-align: center"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is an Access Provider?</a></h4></div>
					<div id="collapse1" class="panel-collapse collapse">
						<div class="panel-body">
							<p> An Access Provider is any potential point of access for businesses to engage underserved populations
								and/or support services. Access Providers can be:</p>
							<ul style="list-style-position: inside;">
								<li style="list-style-type: disc;"> Traditional disability service providers or support organizations;	</li>
								<li style="list-style-type: disc;"> Public, charitable, or privately funded community organizations;	</li>
								<li style="list-style-type: disc;"> Educational institutions, military institutions; and				</li>
								<li style="list-style-type: disc;"> Disability advocacy and support organizations.						</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><h4 style="text-align: center"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> What is WeJaFoo? </a></h4></div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<p> WeJaFoo is a cloud-based service built to position you for success in partnering with companies
							that genuinely value the role you play and the people you serve. WeJaFoo is a free marketplace for
							Access Providers. We’re here to help mainstream your services to a broad universe of employers
							and the thousands of jobs they need to fill. You need a pool of employers willing to hire your
							people and leverage your support services to make inclusion  successful. Your job seekers stay
							yours. Employers need an efficient way to connect to you, relative to the business problems they
							need to solve. WeJaFoo provides all this and more.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h4 style="text-align: center"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What isn't WeJaFoo? </a></h4></div>
			<div id="collapse3" class="panel-collapse collapse">
				<div class="panel-body">
					<p> WeJaFoo is not business as usual. It’s not more work for the same results. WeJaFoo is not a job board
						for Diversity and Inclusion or a simple matching service with employers offering a few token jobs
						in your geography to meet compliance. It’s not a one-off tool for employers to hire opportunistically.
						It is not a charity. It’s about finding jobs for people, but it’s also bigger than that. It’s about
						true economic inclusion. Together with WeJaStrat, WeJaFoo is reshaping how business approaches
						this space and gives you a starring role.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><h4 style="text-align: center"><a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> How is WeJaFoo different? </a></h4></div>
		<div id="collapse4" class="panel-collapse collapse">
			<div class="panel-body">
				<p> What if employers came to you seeking your talent and services on a large scale? What if you were able
					to play an active role in supporting your consumers and job seekers from the start of the hiring process
					and not simply leave their success to chance? WeJaFoo provides an opportunity for a different conversation
					with business leaders. We help you speak directly to the right people about your organizational strengths
					and the job-seekers you represent. We are not simply creating awareness. We are driving action.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><h4 style="text-align: center"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5"> Why should I register? </a></h4></div>
		<div id="collapse5" class="panel-collapse collapse">
			<div class="panel-body">
				<p> WeJaFoo’s services are available at no cost to you. We are revolutionizing the way employers and Access
					Providers engage and collaborate. By being part of the world’s largest Access Provider network, you’ll
					literally be changing the world, enabling the success of your organization and the people you serve. Your
					consumers stay yours. We simply empower your scope and deliver unmatched scale.
			</div>
		</div>
	</div>
</div>
<header [style.background-image]="cleanStyleImage2" class="parallax2" >
	<div class="hero2"><h2 style="background-color: #ffffff7a; font-weight: 400"> WeJaFoo offers an innovative solution that helps position you as a valuable partner for employers. </h2></div>
</header>
<div class="container-spaced">
	<h2 class="hone"> Partners & Recognition </h2>
	<div class="flex-container">
		<div><img src="{{ env.assetBucket }}images/recognition/civicX_stamp_final_BACKED.jpg" class="img-responsive center-block" alt=""/>	</div>
		<div><img src="{{ env.assetBucket }}images/recognition/sorenson_logo.jpg" class="img-responsive center-block" alt=""/>				</div>
		<div><img src="{{ env.assetBucket }}images/recognition/Kapor_POT.png" class="img-responsive center-block" alt=""/>					</div>
		<div><img src="{{ env.assetBucket }}images/recognition/Village_Capital_logo.jpg" class="img-responsive center-block" alt=""/>		</div>
	</div>
</div>

